<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!auth.isLoggedIn()" mat-list-item href="/login"><mat-icon>fingerprint</mat-icon> Login</a>
      <a *ngIf="auth.isLoggedIn()" mat-list-item (click)="auth.logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
      <div *ngIf="auth.isLoggedIn()">
        <a mat-list-item href="/item">Matériel</a>
        <a mat-list-item href="/licence">Licences</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex flex-row justify-between overflow-hidden">
      <div class="flex flex-row justify-center items-center">
        <div class="flex md:hidden">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>          
        </div>
        <a href="/">StockManager | {{auth.getUsername()}}</a>
      </div>
      <div class="justify-between invisible md:visible">
        <span *ngIf="true" class="">
          <a href="/item" mat-flat-button color="primary">Matériel</a>
        </span>
        <span *ngIf="true" class="">
          <a href="/licence" mat-flat-button color="primary">Licences</a>
        </span>
        <span *ngIf="!auth.isLoggedIn()" class="">
          | <a href="login" mat-flat-button color="primary">Login</a>
        </span>
        <span *ngIf="auth.isLoggedIn()" class="">
          | <button (click)="auth.logout()" mat-flat-button color="primary">Logout</button>
        </span>
      </div>
    </mat-toolbar>
    <div class="flex h-screen justify-center">
      <div class="w-screen md:w-5/6 h-full">
        <div class="align-middle">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
