<div class="flex space-x-2">
  <div>
    <div class="offcanvas offcanvas-start fixed bottom-0 flex flex-col max-w-full bg-white invisible bg-clip-padding shadow-sm outline-none transition duration-300 ease-in-out text-gray-700 top-0 left-0 border-none w-52" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="flex items-center justify-between p-4">
        <mat-toolbar class="flex flex-row justify-between">
          <a (click)="goToDashboard()" class="text-black cursor-pointer" data-bs-dismiss="offcanvas" aria-label="Close">Menu</a>
          <button type="button" class="btn-close box-content w-4 h-4 p-2 -my-5 -mr-2 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </mat-toolbar>
      </div>
      <div class="offcanvas-body flex-grow p-4 overflow-y-auto">
        <div class="dropdown relative mt-4">
          <mat-nav-list>
            <a *ngIf="!auth.isLoggedIn()" mat-list-item (click)="goToLogin()"><mat-icon>fingerprint</mat-icon> Login</a>
            <a *ngIf="auth.isLoggedIn()" mat-list-item (click)="goToLogout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
            <div *ngIf="auth.isLoggedIn()">
              <a *ngIf="auth.hasAuthority('ADM')" mat-list-item (click)="goToUser()" data-bs-dismiss="offcanvas">Utilisateurs</a>
              <a *ngIf="auth.hasAuthority('PGM')" mat-list-item (click)="goToItem()" data-bs-dismiss="offcanvas">Matériel</a>
              <a *ngIf="auth.hasAuthority('PGM')" mat-list-item (click)="goToLicence()" data-bs-dismiss="offcanvas">Licences</a>
              <a *ngIf="auth.hasAuthority('TEC')" mat-list-item (click)="goToIntervention()" data-bs-dismiss="offcanvas">Opérations</a>
              <a *ngIf="auth.hasAuthority('PGM')" mat-list-item (click)="goToOrder()" data-bs-dismiss="offcanvas">Commandes</a>
            </div>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex flex-row justify-between overflow-hidden">
      <div class="flex flex-row justify-center items-center">
        <div class="flex md:hidden">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>          
        </div>
        <button (click)="goToDashboard()" class="text-white">StockManager | {{auth.getUsername()}}</button>
      </div>
      <div class="justify-between invisible md:visible">
        <span *ngIf="auth.hasAuthority('ADM')" class="">
          <a (click)="goToUser()" mat-flat-button color="primary">Utilisateurs</a>
        </span>
        <span *ngIf="auth.hasAuthority('PGM')" class="">
          <a (click)="goToItem()" mat-flat-button color="primary">Matériel</a>
        </span>
        <span *ngIf="auth.hasAuthority('PGM')" class="">
          <a (click)="goToLicence()" mat-flat-button color="primary">Licences</a>
        </span>
        <span *ngIf="auth.hasAuthority('TEC')" class="">
          <a (click)="goToIntervention()" mat-flat-button color="primary">Opérations</a>
        </span>
        <span *ngIf="auth.hasAuthority('PGM')" class="">
          <a (click)="goToOrder()" mat-flat-button color="primary">Commandes</a>
        </span>
        <span *ngIf="!auth.isLoggedIn()" class="">
          | <a (click)="goToLogin()" mat-flat-button color="primary">Login</a>
        </span>
        <span *ngIf="auth.isLoggedIn()" class="">
          | <a (click)="goToLogout()" mat-flat-button color="primary">Logout</a>
        </span>
      </div>
    </mat-toolbar>
    <div class="flex h-screen justify-center">
      <div class="w-screen md:w-5/6 h-full">
        <div *ngFor="let toast of toasts" class="w-full sticky top-16 z-4 toast-container sm:flex sm:flex-row">
          <div [@fadeInOut]="toast?'shown':'hidden'" [ngClass]="toast.type=='success'?'success':'error'" class="w-full z-4 text-white text-center font-bold rounded-2xl mt-5 p-2">{{toast.message}}</div>
        </div>
        <div class="align-middle">
          <app-spinner></app-spinner>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>