<h2 mat-dialog-title>Ajouter du matériel</h2>
<mat-dialog-content [formGroup]="form" class="mat-typography">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <div *ngIf="types">
                <mat-label>Type</mat-label>
                <mat-select [(value)]="item.type" formControlName="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <mat-option *ngFor="let type of types" [value]="type" selected>
                    {{type.name}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div>
            <label for="description" class="form-control block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <input name="description" formControlName="description" [(ngModel)]="item.description" placeholder="description" type="text" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <mat-error *ngIf="form.hasError('required', 'description')">Ce champs est requis !</mat-error>
            <mat-error *ngIf="form.hasError('minlength', 'description')">Cette valeur est trop courte !</mat-error>
        </div>
        <div>
            <label for="provider" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fournisseur</label>
            <input name="provider" formControlName="provider" [(ngModel)]="item.provider" placeholder="provider" type="text" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <mat-error *ngIf="form.hasError('required', 'provider')">Ce champs est requis !</mat-error>
            <mat-error *ngIf="form.hasError('minlength', 'provider')">Cette valeur est trop courte !</mat-error>
        </div>
        <div>
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prix</label>
            <input name="price" formControlName="price" [(ngModel)]="item.price" placeholder="price" type="number" step="0.01" min="0" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <mat-error *ngIf="form.hasError('required', 'price')">Ce champs est requis !</mat-error>
            <mat-error *ngIf="form.hasError('min', 'price')">Cette valeur est trop petite !</mat-error>
        </div>
        <div>
            <label for="quantity" class="form-control block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantité</label>
            <input name="quantity" formControlName="quantity" [(ngModel)]="item.quantity" placeholder="quantity" type="number" step="1" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">        
            <mat-error *ngIf="form.hasError('min', 'quantity')">Cette valeur est trop petite !</mat-error>
        </div>
    </div>
    <div class="py-4">
        <hr class="">
    </div>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="purchasedAt" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date d'achat</label>
            <input name="purchasedAt" formControlName="purchasedAt" [ngModel]="item.purchasedAt | date:'yyyy-MM-dd'" (ngModelChange)="item.purchasedAt=$event" type="date" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <mat-error *ngIf="form.hasError('required', 'purchasedAt')">Ce champs est requis !</mat-error>
        </div>
        <div>
            <label for="warrantyExpiresAt" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date fin de garantie</label>
            <input name="warrantyExpiresAt" formControlName="warrantyExpiresAt" [ngModel]="item.warrantyExpiresAt | date:'yyyy-MM-dd'" (ngModelChange)="item.warrantyExpiresAt=$event" type="date" placeholder="warrantyExpiresAt" id="warrantyExpiresAt" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <mat-error *ngIf="form.hasError('required', 'warrantyExpiresAt')">Ce champs est requis !</mat-error>
        </div>
        <div>
            <label for="checkupInterval" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Interval de maintenance</label>
            <input name="checkupInterval" formControlName="checkupInterval" [(ngModel)]="item.checkupInterval" type="number" min="1" step="1" placeholder="checkupInterval" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <mat-error *ngIf="form.hasError('required', 'checkupInterval')">Ce champs est requis !</mat-error>
            <mat-error *ngIf="form.hasError('min', 'checkupInterval')">Cette valeur est trop petite !</mat-error>
        </div>
    </div>
</mat-dialog-content>
<div class="py-4">
    <hr class="">
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-flat-button mat-dialog-close color="warn">Annuler</button>
    <button [disabled]="!form.valid" mat-button mat-flat-button [mat-dialog-close]="true" (click)="close()" color="accent">Valider</button>
</mat-dialog-actions>