@use 'sass:map';
@use '@angular/material' as mat;
@import '../../../../styles.scss';

$color-config:    mat.get-color-config($chr-theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');


table {
  width: 100%;
}

@media (min-width: 640px) {
  td {
    border:none !important;
  }
}

tr:last-child > td {
  border-bottom: none !important;
}

.border-bottom-accent{
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: mat.get-color-from-palette($accent-palette, A200);
}


.mat-column-actions {
  text-align: right;
}

.mat-mdc-header-row {
  background-color: mat.get-color-from-palette($accent-palette, A200);
}

::ng-deep .arrow-color .mat-sort-header-arrow {
  color: black;
}