<div class="flex flex-row justify-end pt-5">
  <a mat-button mat-flat-button color="primary" href="licence/create">Ajouter</a>
</div>
<div class="flex items-center">
  <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg sm:shadow-lg my-5 overflow-auto">
    <thead class="text-white">
      <tr *ngIf="dataSource.data.length<=0" class="flex flex-col flex-no-wrap sm:table-row rounded-l-lg sm:rounded-none mb-0 sm:mb-2">
        <th class="p-3 text-left">ID</th>
        <th class="p-3 text-left">Type</th>
        <th class="p-3 text-left">Référence</th>
        <th class="p-3 text-left">Numéro de série</th>
        <th class="p-3 text-left">Unité</th>
        <th class="p-3 text-left">Local</th>
        <th class="p-3 text-left" width="110px">Actions</th>
      </tr>
      <tr *ngFor="let item of dataSource.data" class="flex flex-col flex-no-wrap sm:table-row rounded-l-lg sm:rounded-none mb-0 sm:mb-2">
        <th class="p-3 text-left">ID</th>
        <th class="p-3 text-left">Type</th>
        <th class="p-3 text-left">Description</th>
        <th class="p-3 text-left">Valeur</th>
        <th class="p-3 text-left">Utilisateur</th>
        <th class="p-3 text-left" width="110px">Actions</th>
      </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
      <tr *ngIf="dataSource.data.length<=0" class="flex flex-col flex-no-wrap sm:table-row sm:mb-2 mb-0 sm:border-2 sm:border-grey-light">
        <td class="hover:bg-gray-100 p-3">Pas de donnée</td>
        <td class="hover:bg-gray-100 p-3"></td>
        <td class="hover:bg-gray-100 p-3"></td>
        <td class="hover:bg-gray-100 p-3"></td>
        <td class="hover:bg-gray-100 p-3"></td>
        <td class="hover:bg-gray-100 p-3"></td>
        <td class="hover:bg-gray-100 p-3"></td>
      </tr>
      <tr *ngFor="let licence of dataSource.data" class="flex flex-col flex-no-wrap sm:table-row sm:mb-2 mb-0 sm:border-2 sm:border-grey-light">
        <td class="hover:bg-gray-100 p-3">{{licence.id}}</td>
        <td class="hover:bg-gray-100 p-3">{{licence.type.name}}</td>
        <td class="hover:bg-gray-100 p-3">{{licence.description}}</td>
        <td class="hover:bg-gray-100 p-3">{{licence.value}}</td>
        <td class="hover:bg-gray-100 p-3">{{licence.user?.firstname}} {{licence.user?.lastname}}</td>
        <td class="hover:bg-gray-100 p-3"><button mat-flat-button color="accent" (click)="goTo(licence.id)">Détails</button></td>
      </tr>
    </tbody>
  </table>
</div>